<div class="wrapper">
   <div class="header-container">
     <app-header></app-header>
      <div class="carousal-cont">
      
         <ngb-carousel [showNavigationArrows]="true" 
         [showNavigationIndicators]="true"
         interval="5000"
         [keyboard]="true"
         [pauseOnHover]="true"
         [wrap]="true"
         [activeId]="'secondSlide'">
         <ng-template ngbSlide>
            <div class="picsum-img-wrapper img-block-1 ">
            </div>
            <div class="carousel-caption">
               <h2 class="font-strong">Title Goes Here</h2>
               <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. psum dolor sit amet, consectetur adipiscing elitpsum dolor sit amet, consectetur adipiscing elit</h4>
               <button class="carousel-donate-btn">Donate</button>
            </div>
         </ng-template>
         <ng-template ngbSlide>
            <div class="picsum-img-wrapper img-block-2">
            </div>
            <div class="carousel-caption">
               <h2 class="font-strong">Title Goes Here</h2>
               <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. psum dolor sit amet, consectetur adipiscing elitpsum dolor sit amet, consectetur adipiscing elit</h4>
               <button class="carousel-donate-btn">Donate</button>  
            </div>
         </ng-template>
         <ng-template ngbSlide>
            <div class="picsum-img-wrapper img-block-3">
            </div>
            <div class="carousel-caption">
               <h2 class="font-strong">Title Goes Here</h2>
               <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. psum dolor sit amet, consectetur adipiscing elitpsum dolor sit amet, consectetur adipiscing elit</h4>
               <button class="carousel-donate-btn">Donate</button>
            </div>
         </ng-template>
         </ngb-carousel>


      </div>
   </div>
   <div class="desc-container">
      <section class="container-content py-3">
         <div class="row container-border">
            <div  class="background-1 col-lg-6 col-md-12 p-0"></div>
            <div class="col-lg-6 col-md-12 p-4">
               <h5 class="desc">Lorem Ipsum is simply dummy text of the  tting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer. Join the fight against hunger and malnutrition.</h5>
               <div class="progress-title pt-md-4"><span>1,553 supporters needed</span><span class="fl-r">70%</span></div>
               <div class="progress">
                  <div class="progress-bar" style="width:70%"></div>
               </div>
               <button class="pay-now">Give Now</button>
            </div>
         </div>
      </section>
      <section class="container-content py-3">
         <div class="row">
            <div class="col-md-12 py-2 ">
               <h3>Sponsor a child's education
               </h3>
            </div>
            <div class="col-lg-4 col-md-6 col-12 my-3">
               <div class="product-cont">
                  <img src="assets/img/images/img5.jpg" class="prod-img mb-3">
                  <div class="donate-container">
                     <span class="font-strong text-info mb-3">
                        <h4>Education</h4>
                     </span>
                     <h5 class="desc">Lorem Ipsum is simply dummy text of the  tting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer</h5>
                     <button class="donate-btn bg-warning">Donate</button>
                  </div>
               </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12 my-3">
               <div class="product-cont">
                  <img src="assets/img/images/img6.jpg" class="prod-img mb-3">
                  <div class="donate-container">
                     <span class="font-strong text-info mb-3">
                        <h4>Education</h4>
                     </span>
                     <h5 class="desc">Lorem Ipsum is simply dummy text of the  tting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer</h5>
                     <button class="donate-btn bg-warning">Donate</button>
                  </div>
               </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12 my-3">
               <div class="product-cont">
                  <img src="assets/img/images/img7.jpg" class="prod-img mb-3">
                  <div class="donate-container">
                     <span class="font-strong text-info mb-3">
                        <h4>Education</h4>
                     </span>
                     <h5 class="desc">Lorem Ipsum is simply dummy text of the  tting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer</h5>
                     <button class="donate-btn bg-warning">Donate</button>
                  </div>
               </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12 my-3">
               <div class="product-cont">
                  <img src="assets/img/images/img8.jpg" class="prod-img mb-3">
                  <div class="donate-container">
                     <span class="font-strong text-info mb-3">
                        <h4>Education</h4>
                     </span>
                     <h5 class="desc">Lorem Ipsum is simply dummy text of the  tting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer</h5>
                     <button class="donate-btn bg-warning">Donate</button>
                  </div>
               </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12 my-3">
               <div class="product-cont">
                  <img src="assets/img/images/img1.jpg" class="prod-img mb-3">
                  <div class="donate-container">
                     <span class="font-strong text-info mb-3">
                        <h4>Education</h4>
                     </span>
                     <h5 class="desc">Lorem Ipsum is simply dummy text of the  tting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer</h5>
                     <button class="donate-btn bg-warning">Donate</button>
                  </div>
               </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12 my-3">
               <div class="product-cont">
                  <img src="assets/img/images/img1.jpg" class="prod-img mb-3">
                  <div class="donate-container">
                     <span class="font-strong text-info mb-3">
                        <h4>Education</h4>
                     </span>
                     <h5 class="desc">Lorem Ipsum is simply dummy text of the  tting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer</h5>
                     <button class="donate-btn bg-warning">Donate</button>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section class="payment-confirmation py-3">
         <div class="row">
            <div class="col-md-4 col-4 col-lg-4">
            </div>
         </div>
      </section>
   </div>
<app-footer></app-footer>
</div>