* {
	margin: 0;
	padding: 0
}

body {
	background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
}
.carousal-cont {
    position: relative;
    height: 76vh;
}
.picsum-img-wrapper
{
	height: 76vh;

}
.carousel-donate-btn {
	padding: 7px;
	margin-top: 6px;
	width: 152px;
	font-size: 18px;
	font-weight: 600;
	color: #fff;
	border: none;
	background: #8b8bff;
}
.img-block-1
{
	background: url('../assets/img/images/img0.jpg');
	background-size: cover;
	background-position: center;
}
.img-block-2
{
	background: url('../assets/img/images/img1.jpg');
	background-size: cover;
	background-position: center;
}
.img-block-3
{
	background: url('../assets/img/images/img2.jpg');
	background-size: cover;
	background-position: center;
}
.carousel-control-prev,.carousel-control-next {
	display:none;
}
@media only screen and (max-width: 767px) {
	.carousel-caption  {
		width: 100% !important;
	}
}
.carousel-caption {
    position: absolute;
    right: 0% !important;
    text-align: unset !important;
    left: 6% !important;
	top: 36% !important;
	width: 51%;
}
.progress {
	height: 5px;
}

.progress-bar {
	background: #008c8c;
}

.fl-r {
	float: right;
}

.wrapper {
	.font-strong {
		font-weight: 600 !important;
	}
	letter-spacing: 1px;
	overflow-x: hidden;
	.top-header {
		display: flex;
		border-bottom: 1px solid #ededed;
		h6 {
			margin-right: 15px;
			margin-top: 9px;
		}
		.login-btn {
			margin-left: auto;
			width: 84px;
			padding: 5px;
			background: #ff5050;
			border: 1px solid;
			color: #fff;
			font-weight: 600;
		}
	}
	.page-navbar {
		border-bottom: 1px solid #ededed;
		background-color: #00c1fb;
		.logo {
			width: 150px;
			position: relative;
			top: 4px;
		}
	}
	.desc-container {
		.donate-container {
			padding: 19px;
		}
		.donate-btn {
			margin-top: 4px;
			padding: 4px;
			width: 92px;
			border: none;
			color: #ffff;
			letter-spacing: 1px;
		}
        .recommended {
            border: none;
            padding: 3px;
            width: 119px;
            font-size: 14px;
            font-weight: 600;
            color: #fff;
            margin-bottom: 20px;
            border-radius: 50px;
        }

		width: 90%;
		margin: 0 auto;
		padding: 30px 0 30px 0;
		font-family:none !important;
		button.pay-now {
			margin-top: 29px;
			width: 100%;
			padding: 13px;
			font-size: 18px;
			background: #ff5050;
			border: none;
			color: #fff;
			border-radius: 7px;
		}
		.progress-title {
			font-size: 15px;
			font-weight: 700;
		}
		.desc {
			letter-spacing: 1px;
			line-height: 1.5;
			font-weight: 400;
		}
		.container-border {
			border: 1px solid #ededed;
			border-radius: 12px;
			@media only screen and (max-width: 767px) {
				.background-1 {
					height: 200px !important;
				}
			}
			.background-1 {
				background: url('../assets/img/images/img4.jpg');
				background-size: cover;
				border-top-left-radius: 12px;
				border-bottom-left-radius: 12px;
				height: 315px;
			}

		}
		.product-cont {
			padding: 0 0 18px 0;
			border: 1px solid #ededed;
            border-radius: 9px;
            -webkit-box-shadow: 2px 5px 5px 0px rgba(207,207,207,1);
            -moz-box-shadow: 2px 5px 5px 0px rgba(207,207,207,1);
            box-shadow: 2px 5px 5px 0px rgba(207,207,207,1);
            position: relative;
            .align-top {
                position: absolute;
                left: 9px;
                top: 38%;
            }
			.prod-img {
				width: 100%;
				border-top-right-radius: 11px;
				border-top-left-radius: 11px;
			}
		}

	}

	.about-content
	{
		.abt-img
		{
			background: url('../assets/img/images/img4.jpg');
			background-size: cover;
			height: 226px;
			background-position: center;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 38px;
			font-weight: 600;
			color: #fff;
		}
		/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/
.about .content h3 {
	font-weight: 500;
	font-size: 24px;
	color: #58716d;
	font-family: "Poppins", sans-serif;
  }
  
  .about .content ul {
	list-style: none;
	padding: 0;
  }
  
  .about .content ul li {
	padding-bottom: 10px;
  }
  
  .about .content ul i {
	font-size: 20px;
	padding-right: 4px;
	color: #1bbca3;
  }
  
  .about .content p:last-child {
	margin-bottom: 0;
  }
  
  .about .progress {
	height: 50px;
	display: block;
	background: none;
  }
  
  .about .progress .skill {
	padding: 0;
	margin: 0 0 6px 0;
	text-transform: uppercase;
	display: block;
	font-weight: 600;
	font-family: "Poppins", sans-serif;
	color: #58716d;
  }
  
  .about .progress .skill .val {
	float: right;
	font-style: normal;
  }
  
  .about .progress-bar-wrap {
	background: #e6eceb;
  }
  
  .about .progress-bar {
	width: 1px;
	height: 10px;
	transition: .9s;
	background-color: #1bbca3;
  }
  
  .about-banner {
	width: 100%;
	filter: brightness(0.5);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
  }
  
  .about-main-content {
	position: absolute;
	top: 12%;
  }
  
  .about-main-content h2{
	color: #ffffff;
	text-align: center;
  }
  
  .about-main-content p{
	color: #ffffff;
	margin: auto;
	width: 56%;
	text-align: center;
  }
  
  .banner {
	margin-top: -4%;
  }
  
  
  .align-items-stretch {
	margin-top: 3rem;
  }
  
  .modal-heading {
	margin: auto;
	color: #4b605c;
  }
  
  .modal {
	background-color: #0000009c;
  }
  
  /*--------------------------------------------------------------
  # Our Services
  --------------------------------------------------------------*/
  .services .icon-box {
	padding: 30px;
	position: relative;
	overflow: hidden;
	background: #fff;
	box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
	transition: all 0.3s ease-in-out;
	border-radius: 8px;
	z-index: 1;
  }
  
  .services .icon-box::before {
	content: '';
	position: absolute;
	background: #aff4e9;
	right: -60px;
	top: -40px;
	width: 100px;
	height: 100px;
	border-radius: 50px;
	transition: all 0.3s;
	z-index: -1;
  }
  
  .services .icon-box:hover::before {
	background: #1bbca3;
	right: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border-radius: 0px;
  }
  
  .services .icon {
	margin: 0 auto 20px auto;
	padding-top: 10px;
	display: inline-block;
	text-align: center;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	background: #1bbca3;
	transition: all 0.3s ease-in-out;
  }
  
  .services .icon i {
	font-size: 36px;
	line-height: 1;
	color: #fff;
  }
  
  .services .title {
	font-weight: 700;
	margin-bottom: 15px;
	font-size: 18px;
  }
  
  .services .title a {
	color: #425451;
  }
  
  .services .description {
	font-size: 15px;
	line-height: 28px;
	margin-bottom: 0;
  }
  
  .services .icon-box:hover .title a, .services .icon-box:hover .description {
	color: #fff;
  }
  
  .services .icon-box:hover .icon {
	background: #fff;
  }
  
  .services .icon-box:hover .icon i {
	color: #1bbca3;
  }
  
	}
}

// footer-css
.footer-bg {
	background-color: #000000;
	color: #ffffff;
}